/* Name: Bootcamp2025 FOS25*/
/* Author: M. Leon */
/* Date: 2025-09-10 */


@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');


*  {
    color: #111111;
    font-family: 'Asimovian', sans-serif;

}

.maincontainer {

    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-areas: 
    "Header" "Header"
    "Menu" "Content-OmMig"
    "Footer" "Footer";
    grid-template-columns: 1fr 3fr;
    width: 100%;
}
.maincontainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.maincontainer > div.Header {
    grid-area: Header;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.maincontainer > div.Menu {
    grid-area: Menu;
    background-color: #f4f4f4;
    padding: 15px;
    border-right: 1px solid #ddd;
}
.maincontainer > div.Content-OmMig{
    grid-area: Content-OmMig;
    padding: 15px;
}

.maincontainer > div.Footer {
    grid-area: Footer;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}